* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.box {
    font-family: Arial, sans-serif;
    background-color: #4C0AF5;
    justify-content: center;
    align-items: center;
    margin-left: 750px;
    margin-top: 70px;
    height: 70%;
    width: 20%;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 25px;
    color: white;
}

/* .box1:hover {
    background-color: purple;
} */

.box h1 {
    margin-top: 20px;
    font-size: 2em;
    color: white;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    margin-bottom: 40px;
}

.box input {
    width: 100%;
    padding: 12px 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-right: 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    text-align: center;
}

.box button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
}

.box button:hover {
    background-color: #45a049;
}

#newAddress {
    margin-top: 10px;
    margin-bottom: 40px;
    font-size: 16px;
    color: white;
    cursor: pointer;
}

#newTitles {
    font-size: 16px;
    color: white;
    cursor: pointer;
    margin-bottom: 40px;
    margin-top: 10px;
}

#adjustedText {
    margin-top: 10px;
    margin-bottom: 40px;
    font-size: 16px;
    color: white;
    cursor: pointer;
}

#validateStatus {
    margin-top: 10px;
    margin-bottom: 40px;
    font-size: 16px;
    color: white;
    cursor: pointer;
}

#yourDisount {
    margin-top: 10px;
    margin-bottom: 40px;
    font-size: 16px;
    color: white;
    cursor: pointer;
}

#convertedTemperature {
    margin-top: 10px;
    margin-bottom: 40px;
    font-size: 16px;
    color: white;
    cursor: pointer;
}

#result {
    margin-top: 10px;
    margin-bottom: 40px;
    font-size: 16px;
    color: white;
    cursor: pointer;
}

#luggageStatus {
    margin-top: 10px;
    margin-bottom: 40px;
    font-size: 16px;
    color: white;
    cursor: pointer;
}

@media (max-width: 768px) {
    .box {
        margin-left: 25%;
        margin-top: 50px;
        width: 50%;
    }

    #newAddress {
        margin-top: 10px;
        margin-bottom: 40px;
    }

    #newTitles {
        margin-top: 10px;
        margin-bottom: 40px;
    }
}